# Latex output
*.toc
*.aux
*.log
*.lot
*.out
*.lof
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_*
*.fls
*.sqlite
*.auxlock
main.pdf
main.figlist
main.makefile

# Figure output
figures/main-figure*

# Swap files
*.swp

# Python cache
__pycache__

# Conda environment lock
condaenv*
