# Latex output
*.toc
*.aux
*.log
*.lot
*.out
*.lof
*.bbl
*.bcf
*.blg
*.run.xml
*.fdb_*
*.fls
*.sqlite
*.auxlock
main.pdf
main.figlist
main.makefile

*.nav
presentation.pdf
*.snm

# Figure output
figures/main-figure*

# Swap files
*.swp

# Python cache
__pycache__

# Numpy cache
*.npy

# Conda environment lock
condaenv*
