[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tqdm = "*"
numpy = "==1.15"
scipy = "*"
pandas = "*"
pytest = "*"
numba = "*"
quantum-systems = {git = "https://github.com/Schoyen/quantum-systems.git"}
tdqd-tools = {editable = true,git = "https://github.com/Schoyen/tdqd-tools.git"}
hartree-fock = {editable = true,git = "ssh://git@github.com/Schoyen/hartree-fock.git"}
coupled-cluster = {git = "ssh://git@github.com/Schoyen/coupled-cluster.git"}
configuration-interaction = {git = "ssh://git@github.com/Schoyen/configuration-interaction.git"}
sympy = "*"
matplotlib = "*"
pyscf = {version = "*"}
Cython = "*"
black = "==19.3b0"
pint = {editable = true,git = "ssh://git@github.com/hgrecco/pint.git"}
tdhf = {editable = true,git = "ssh://git@github.com/haakoek/tdhf.git"}
pyqt5 = "*"
